<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../public/css/styles.css">
        <script src="https://kit.fontawesome.com/12a518914b.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script>

        </script>
    </head>
    <body>
    
        <header>
            <img src="images/logo.svg" alt="Logo" id="logo">
            <div id="search-container">
                <div id="search-icon">
                    <i class="fas fa-search"></i>
                </div>
                <input type="text" id="search-bar" placeholder="Encuentra recetas aquí">
            </div>
            <button id="recipes-btn">Recetas</button>
            <button id="menu-btn">Menú</button>
        </header>

            <div class="section">
            <a href="recetas" ><i class="fas fa-long-arrow-alt-left" id="botonAtras" ></i><div class="section-title"><i class="fas fa-fire"></i>Recetas Populares</div></a>
        </div>
        <div class="cards-section2">
            <div class="card2">
                <img src="images/locro.jpg" alt="Imagen 1">
                <p class="card-text2">Prueba 2</p>
                <p class="card-caption2">Prueba</p>
            </div>
        
            <div class="card2">
                <img src="images/locro.jpg" alt="Imagen 2">
                <p class="card-text2">Prueba 2</p>
                <p class="card-caption2">Prueba</p>
            </div>
    
            <div class="card2">
                <img src="images/locro.jpg" alt="Imagen 3">
                <p class="card-text2">Prueba 2</p>
                <p class="card-caption2">Prueba</p>
            </div>

            <div class="card2">
                <img src="images/locro.jpg" alt="Imagen 4">
                <p class="card-text2">Prueba 2</p>
                <p class="card-caption2">Prueba</p>
            </div>

            <div class="card2">
                <img src="images/locro.jpg" alt="Imagen 5">
                <p class="card-text2">Prueba 2</p>
                <p class="card-caption2">Prueba</p>
            </div>

            <div class="card2">
                <img src="images/locro.jpg" alt="Imagen 6">
                <p class="card-text2">Prueba 2</p>
                <p class="card-caption2">Prueba</p>
            </div>
    </body>
</html>