<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta de prueba</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="../public/css/styles.css">
        <script src="https://kit.fontawesome.com/12a518914b.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script>

        </script>
    </head>
    <body>
    
        <header>
            <img src="images/logo.svg" alt="Logo" id="logo">
            <div id="search-container">
                <div id="search-icon">
                    <i class="fas fa-search"></i>
                </div>
                <input type="text" id="search-bar" placeholder="Encuentra recetas aquí">
            </div>
            <button id="recipes-btn">Recetas</button>
            <button id="menu-btn">Menú</button>
        </header>

            <div class="section">
            <a href="recetas2" ><i class="fas fa-long-arrow-alt-left" id="botonAtras" ></i><div class="section-title"></i>Locro</div></a>
        </div>

        <div class="recipe-section">
            <div class="text-section">
                <h2>Receta de Locro</h2>
                <img src="images/locro.jpg" alt="Imagen 1" id="imagenPrueba">
                <div class="recipe-description">
                    <p>Descripción de la receta...</p>
                </div>
                <div class="recipe-ingredients">
                    <h3>Ingredientes:</h3>
                    <ul>
                        <li>Ingrediente 1</li>
                        <li>Ingrediente 2</li>
                        <li>Ingrediente 3</li>
                    </ul>
                </div>
                <div class="recipe-steps">
                    <h3>Pasos:</h3>
                    <ol>
                        <li>Paso 1</li>
                        <li>Paso 2</li>
                        <li>Paso 3</li>
                    </ol>
                </div>
                <div class="recipe-tips">
                    <h3>Tips:</h3>
                    <p>Tips para preparar la receta...</p>
                </div>
            </div>
            <div class="recipe-comments">
                <h3>Comentarios:</h3>
                <p>Comentario1</p>
                <p>Comentario2</p>
                <input type="text" placeholder="Deja tu comentario aquí...">
            </div>
        </div>

    </body>
</html>